DB_HOST=localhost
DB_PORT=3306
DATABASE=ugme_epa_dashboard
DB_USERNAME=dashboard_app
DB_PASSWORD=medmedicdev
KEY="eiusmod12tempor#incididunt1ut9labore.,$potter-alahamora"
CORS_ORIGINS="https://localhost.usask.ca:8080,https://medmedicdev.usask.ca"
WEB_URL="https://localhost.usask.ca:8080"
# alternate web url for dev server https://medmedicdev.usask.ca/epa-dashboard
PAWS_VALIDATE_URL="https://cas.usask.ca/cas/serviceValidate"
